/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 10, 2020, 10:56:45 AM
    Author     : Tuhiran
*/

.dev-text-bold {
    font-weight: 700;
}

.dev-error {
    margin-top: 1rem;
    font-weight: 400;
    font-size: 15px;
}

.dev-user-detail-img {
    max-height: 285px;
    object-fit: cover;
    min-height: 285px;
}

.dev-remove-sub-topic-row {
    cursor: pointer;
}

.dev-remove-sub-topic-row:hover {
    color: #c62828;
}


.file-input .kv-file-upload,
.file-input .file-upload-indicator,
.file-input .file-drag-handle {
    display: none;
}

.dev-theory-detail-table th {
    width: 150px;
}

.file-field .file-path-wrapper {
    height: 2.5rem;
    padding-left: 10px;
    overflow: hidden;
}

.file-path {
    margin-top: 10px;
    width: 100%;
    box-sizing: content-box;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    outline: 0;
    box-shadow: none;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.dev-div-alert {
    font-size: 17px;
    font-weight: 500;
    padding: 10px 15px !important
}

.theory-file-form-add,
.practice-file-MC-form-add,
.practice-file-CM-form-add {
    margin-bottom: 50px;
}

.dev-material-icon-remove {
    cursor: pointer;
    color: #ff0000;
}

.form-group input[type=file] {
    z-index: 1;
}

.dev-cover-image-update {
    max-height: 100px;
    max-width: 100px;
    min-width: 100px;
    min-height: 100px;
}

.dev-cover-image-view {
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.dev-theory-detail-table table {
    float: left;
    width: 100%;
}

.dev-theory-practice-table-view tbody td {
    vertical-align: middle;
}

#post_list tr {
    cursor: move;
}

.modal-dialog {
    max-width: 50% !important;
}
